{% extends 'base.html' %} {% block header %}
<h1>{% block title %}All Camera Info{% endblock %}</h1>
{% endblock %} {% block content %}

<a href="{{ add_camera_url }}" class="btn btn-primary mt-2 mb-2" role="button">Add Camera Info</a>

<table class="table table-bordered">
  <thead class="text-center">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Camera URL</th>
      <th scope="col">Coordinates Path</th>
      <th scope="col">Update/ Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for camera_info in all_camera_details %}
      <tr>
        <th scope="row">{{ camera_info.SL }}</th>
        <td>{{ camera_info.camera_url }}</td>
        <td>{{ camera_info.coordinates_path }}</td>
        <td>
          <a href="{{ camera_info.edit_url }}">Edit Coordinates</a> | 
          <a href="{{ camera_info.delete_url }}">Delete</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
