<html>
  <head>
    <title>Parking Lot Detection</title>
  </head>
  <body style="text-align: center">
    <h1>Parking Lot Detection</h1>
    <h4>
      Occupied: <span id="occupied"></span> Available:
      <span id="available"></span>
    </h4>
    {% for video_url in video_urls %}
      <img src="{{ video_url }}" width="40%" />
    {% endfor %}
  </body>

  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>  
  <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/socket_connection.js') }}"></script>
</html>
