<html>
  <head>
    <title>Parking Lot Detection</title>
    <style>
        canvas#viewport { border: 5px solid black; }
    </style>
  </head>
  <body style="text-align: center">
    <h1>Leave out all the rest</h1>

    <canvas id="viewport" width="865" height="480"></canvas>
    <button type="submit">Submit Coordinates</button>

    <script>
        const canvas = document.querySelector("canvas#viewport"),
        context = canvas.getContext('2d'),
        lineWidth = 1;

        const make_base_canvas = () => {
            base_image = new Image();
            base_image.src = '/static/images/parking_lot_1.png';
            base_image.onload = function(){
                context.drawImage(base_image, 0, 0);
            }
        }
        make_base_canvas();
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/coordinates_setup.js') }}"></script>
    
  </body>

</html>