<html>
  <head>
    <title>Parking Lot Detection</title>
  </head>
  <body style="text-align: center">
    <h1>Nothing Else Matter</h1>

    <img id="img" src="{{ video_url }}" width=854 height=480 />

    <div><button style="padding: 10px; margin: 20px;" id="capture_img">Capture Image</button></div>
    <div><canvas id="coordinate_generator_canvas" width=854 height=480></canvas></div>
    <div><button style="padding: 10px; margin: 20px; display: none;" id="submit_coordinates">Submit Coordinates</button></div>

  </body>
  <script type="text/javascript">
    const IMAGE_WIDTH = 854, IMAGE_HEIGHT = 480;      
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/coordinates_setup.js') }}"></script>




</html>
