{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Generate Coordinates{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="row m-5">
    <div class="col-md-12">
      <img id="img" src="{{ video_url }}" width=854 height=480 />    
      <div class="m-5"><button class="btn btn-primary" id="capture_img">Capture Image</button></div>
    </div>
  </div>
  <div class="row text-center" style="display: none;" id="canvas_block">
    <div class="col-md-12">
      <h3>Captured Image</h3>
      <div><canvas id="coordinate_generator_canvas" width=854 height=480></canvas></div>
      <div class="m-5">
        <button class="btn btn-primary" id="submit_coordinates">Submit Coordinates</button>
      </div>
    </div>
  </div>


{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/coordinates_setup.js') }}"></script>
{% endblock %}



